<!-- Toolbar with menu -->
<mat-toolbar>
  <button mat-button [matMenuTriggerFor]="sandboxmenu" matTooltip="Menu">
    <mat-icon aria-hidden="false" aria-label="Sandbox Menu">menu</mat-icon>
  </button>
  <mat-menu #sandboxmenu="matMenu">
    <a mat-menu-item routerLink="">Home</a>
    <a mat-menu-item routerLink="./cities">City</a>
  </mat-menu>
</mat-toolbar>

<!-- Eurovision image + Page content -->
<div class="div-padding">
  <img class="center" src="https://www.eurovision.net/bundles/app/assets/eurovision_services_logo_transparent.png"
    width="512" height="128">
  <router-outlet></router-outlet>
</div>